body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: pink;
    color: oldlace;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: rgb(250, 148, 163);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: plum;
}

section p {
  line-height: 1.6;
  text-align: justify;
  font-size: 1.05em;
  margin-bottom: 12px;
}