:root {
    --cor-fundo: #ffc0cb;
    --cor-principal: #fdf5e6;
    --cor-secundaria: #fa94a3;
    --cor-destaque: #dda0dd;
    --cor-texto: #f8c8ee;
}

body {
    background-color: var(#ffc0cb);
    --cor-texto: #f8c8ee;
    color: var();
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
