:root {
    --cor-fundo: #ffc0cb;
    --cor-principal: #fdf5e6;
    --cor-secundaria: #fa94a3;
    --cor-destaque: #dda0dd;
    --cor-texto: #f8c8ee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffc0cb;
    color: #fdf5e6;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: #fa94a3;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: #dda0dd;
}

section p {
  line-height: 1.6;
  text-align: justify;
  font-size: 1.05em;
  margin-bottom: 12px;
}